[submodule "libraries/Adafruit_NeoPixel"]
	path = libraries/Adafruit_NeoPixel
	url = git@github.com:adafruit/Adafruit_NeoPixel.git
[submodule "libraries/Adafruit_MMA8451_Library"]
	path = libraries/Adafruit_MMA8451_Library
	url = git@github.com:adafruit/Adafruit_MMA8451_Library.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
[submodule "libraries/RFM69"]
	path = libraries/RFM69
	url = git@github.com:LowPowerLab/RFM69.git
[submodule "libraries/i2cdevlib"]
	path = libraries/i2cdevlib
	url = git@github.com:jrowberg/i2cdevlib.git
[submodule "libraries/StandardCplusplus"]
	path = libraries/StandardCplusplus
	url = git@github.com:maniacbug/StandardCplusplus.git
